#footer {
    color: #fff;
    font-size: 14px;
    background: #111;
}

.navbar {
    display: flex;
    min-height: 5vh;
    max-height: 20vh;
}

    .navbar .nav-item {
        padding: 0;
    }

body {
    background-color: cornflowerblue;
}

main {
    background-color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.logo {
    background-color: #4e73df;
    color: #FFFFFF;

}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5df600;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: green;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #ff0000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f32121;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*Game cards*/

.game-card {
    border: 2px solid black;
    background-position-y: bottom;
    background-size: 100% 90%;
}

.vertical-card {
    flex-direction: row;
    display: flex;
}

.ps2-cover {
    width: 100%;
    height: 15%;
}

    .ps2-cover > img {
        content: url("Immagini/Cover_Templates/ps2.png");
    }

.list-view-area {
    border: 2px solid black;
    box-shadow: 1px 2px 15px #0006 inset;
    margin: auto;
    max-height: 50%;
    width: 95%;
}

.upload-list-view-header {
    background-color: #375B76;
    color: #FFFFFF;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.lv-row {
    background-color: #E7E7FF;
    color: #4A3C8C;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: fit-content;
    transition: 0.3s;
}

.alt {
    background-color: snow;
    color: black;
}

.lv-imgbtn {
    border-left: 1px solid black;
    transition: 0.3s;
}

    .lv-imgbtn:hover {
        border: 4px solid #9be3ff;
        cursor: zoom-in;
    }

.lv-selection {
    background-color: #4f53fc;
    color: #FFFFFF;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.lv-row:hover {
    background-color: #4f53fc;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.primary-text {
    color: #4168DC;
}

.custom-control {
    display: block;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ccc;
    background-clip: padding-box;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.78vw;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.2);
    transition: 100ms ease-in-out;
}

    .custom-control:focus {
        background-color: #F2F2F2;
        transform: scale(1.02);
        box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
    }

.btn-main {
    background-color: #9bfa01;
    color: black;
    border: 2px solid #1f3a93;
    box-shadow: 0.2vw 0.2vh #000060;
}

.btn-main:hover {
    background-color: #7023B7;
    color:white;
    border:2px solid #9fba01;
    transform:scale(1.05);
}

.btn-main:active {
    transform: translate(0.1vw,0.1vh);
    box-shadow: 0.1vw 0.1vh #000060;
}
